body {
	background-color: #D9F2EA;
	}

.header {
    background-color: black;
	border-radius: 15px;
    color:red;
    padding:1px;	 
}
.section {
	border-radius: 15px;
    line-height:30px;
    width:auto;
    float:left;
	margin-left: 10px;
	background-color: #D9F2EA;
}

.nav {
	border-radius: 15px;
    background-color: #909E9A;
    line-height:30px;
    color:white;
    text-align:center;
    padding-bottom:5px;	     
    height:35px;
}

#nav-web, #nav-html, #nav-css, #nav-aboutme {
    float: left;
	color:white;
	margin-left: 65px;
	width: auto;
	list-style-type: none;
}

.subtitle {
  color: red; 
  font-size: 24px;  
}

.notes {
    margin-left: 20px;
    border-radius: 15px;
    text-align: left;
    padding:1px;
    width:90%;}

caption {
	border-radius: 15px;
    background-color: #909E9A;
	padding-bottom: 10px;
}

table {
	margin-left: 55px;
}

#th1, #th2, #th3 {
	border-radius: 15px;
	width: 385px;
    table-layout: auto;
	margin-right: 40px;
    font-weight: bolder;
    border-width: medium;
    border-color: #000;   
    background-color: #FFFF99;
 }

td {
    border-radius: 15px;
	width: auto;
	margin-left: 30px;
    background-color: #909E9A;
    border: 1px solid navy;
    font-style:normal;
}	

.footer {
	border-radius: 15px;
	height: 40px;
    background-color:black;
    clear:both;

    }


